<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#home">IVNCR</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="dropdown">
						<a href="#"	class="dropdown-toggle"	data-toggle="dropdown">
							Accessi<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li action="visitatori:list"><a href="#VisitatoriList">Visitatori...</a></li>
							<li action="accessi:list"><a href="#AccessiList">Accessi...</a></li>
							<li class="dropdown-submenu">
								<a href="#">Report...</a>
								<ul class="dropdown-menu">
									<li action="reports:listaaccessi"><a href="#AccessiReportListaAccessi/parameter">Lista accessi...</a></li>
								</ul>
							</li>						
						</ul>
					</li>
				</ul>
				<ul class="nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Configurazione
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#">Credenziali...</a>
								<ul class="dropdown-menu">
									<li action="users:list"><a href="#UsersList">Utenti...</a></li>
									<li action="roles:list"><a href="#RolesList">Ruoli...</a></li>
									<li action="permissions:list"><a href="#PermissionsList">Permessi...</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
